<launch>
  <arg name="pointcloud_topic" default="ascento/realsense_d435i_front/depth/color/points_processed" />
  <!-- <arg name="rosbag_skip_first_n_sec" default="5" /> -->
  <arg name="debug_mode" default="false" />
  <arg name="show_rviz" default="true" />
  <arg name="voxblox_config" default="voxblox_temporal_window_ascento.yaml" />
  <arg name="voxgraph_config" default="voxgraph_mapper_ascento.yaml" />
  <arg name="use_bag" default="true" />
  <arg name="rosbag_path" default="/home/alessandromorra/logging/arc_handheld_2021_02_10_19_30_55/arc_handheld.bag" />
  <!-- <arg name="rosbag_path" default="/home/alessandromorra/Dropbox/Ascento_Autonomy_Data/ascento_navigation_2021_01_21_19_12_29/ascento_navigation.bag" /> -->
  <!-- <arg name="rosbag_path" default="/home/alessandromorra/Dropbox/Ascento_Autonomy_Data/ascento_navigation_2021_01_21_20_18_39/ascento_navigation.bag" /> -->
  <arg name="use_ascento" default="false" />
  <!-- use_ascento: true => spawn a bag with the ascento robot modle -->
  <!-- use_ascento: false => spawn a bag with the handheld device -->

  <param if="$(arg use_bag)" name="use_sim_time" value="true" />
  <param unless="$(arg use_bag)" name="use_sim_time" value="false" />

  <include file="$(find voxgraph)/launch/voxgraph_mapper.launch" pass_all_args="true" />

  <include file="$(find arc_mapping)/launch/downsample_pointcloud.launch" />

  <include file="/etc/arc/parameters/global_mapping/voxgraph_tf.launch"/>


  <group if="$(arg use_ascento)">
    <param
      name="robot_description"
      command="$(find xacro)/xacro
      '$(find ascento_description)/urdf/ascento.xacro'
      simulate:=false"/>
      <node
        name="rviz_node"
        pkg="rviz"
        type="rviz"
        args="-d /etc/arc/parameters/visualization/rviz/vision_visualization_settings.rviz"
        required="true"/>
  </group>

  <group unless="$(arg use_ascento)">
    <include file="/etc/arc/parameters/handheld/handheld_tf.launch">
    </include>
    <node
      name="rviz_node"
      pkg="rviz"
      type="rviz"
      args="-d /etc/arc/parameters/visualization/rviz/handheld_settings.rviz"
      required="true"/>
  </group>


  <include unless="$(arg use_bag)" file="/etc/arc/parameters/handheld/handheld_sensors.launch">
    <!-- <arg name="use_odometry_integrator" value="true"/> -->
  </include>

  <include file="$(find arc_mapping)/launch/tracking_observer_node.launch">
    <!-- <arg name="use_odometry_integrator" value="true"/> -->
  </include>


  <!--  Add transform such that a handheld tf is complete too.-->
  <group unless="$(arg use_ascento)">
    <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="world_odom_publisher"
      args="0 0 0 0 0 0 1 odom world"/>
  </group>

  <!--  Add transform such that a ascento tf is complete too.-->
  <group if="$(arg use_ascento)">
    <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="base_body"
      args="0 0 0 0 0 0 1 ascento/base_frame ascento/body"/>

      <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="world_inital_pose"
        args="0 0 0 0 0 0 1 world initial_pose"/>
  </group>

</launch>
